= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title

  %ul
  = f.fields_for :authors do |author|
    %li
      = author.label :first_name
      = author.text_field :first_name
    %li
      = author.label :last_name
      = author.text_field :last_name

  .actions
    = f.submit 'Save'
