%p#notice= notice

%article
  %h2= @book.title
  %h3= "Author".pluralize(@book.authors.length)
  %ul
    - @book.authors.each do |author|
      %li= author.full_name

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
